# Environment
.env

# Virtual environment
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# Submission file (không commit, chỉ nộp online)
submission.zip

# Output (không commit vào git, chỉ nén khi nộp bài)
# output/*.json  # Uncomment nếu không muốn commit output

# Logs
*.log
logging/*.jsonl
output.zip